.catalog-loading {
  min-height: calc(100vh - 3.5rem);
  display: grid;
  place-items: center;
}

.catalog-hero {
  background-color: #2c2f36; /* richblack-800 */
  padding: 2rem 1rem;
}

.catalog-hero-content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  min-height: 200px;
}

.catalog-breadcrumb {
  font-size: 0.875rem;
  color: #9ca3af; /* richblack-300 */
}

.catalog-breadcrumb .highlighted {
  color: #facc15; /* yellow-25 */
}

.catalog-title {
  font-size: 2rem;
  font-weight: 600;
  color: #f9fafb; /* richblack-5 */
}

.catalog-description {
  max-width: 870px;
  color: #e5e7eb; /* richblack-200 */
  line-height: 1.6;
}

.catalog-section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 3rem 1rem;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f9fafb;
  margin-bottom: 1.5rem;
}

.catalog-tabs {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #4b5563; /* richblack-600 */
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #f3f4f6; /* richblack-50 */
  transition: color 0.3s, border-bottom 0.3s;
}

.tab:hover {
  color: #facc15;
}

.tab.active-tab {
  border-bottom: 2px solid #facc15;
  color: #facc15;
}

.section-content {
  padding-top: 2rem;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center; /* ensures cards are centered horizontally */
}


@media (min-width: 640px) {
  .catalog-hero-content {
    min-height: 220px;
  }
}

/* @media (min-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (min-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.heigh-course-Card{
  height: 450px;
}