.custom-button {
  text-align: center;
  font-size: 13px;
  padding: 12px 24px; /* Tailwind's px-6 py-3 */
  border-radius: 9999px; /* rounded-full */
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  cursor: pointer;
}

.custom-button:hover {
  transform: scale(0.95);
}

.active-button {
  background-color: #FFD60A; /* Tailwind's yellow-50 */
  color: black;
}

.inactive-button {
  background-color: #0f0f0f; /* rich-black-800 */
  color: white;
}
